* {
  box-sizing: border-box; 
}

img {
  display: block; 
}
a {
  color: blue;
  text-decoration: underline;
}
h1 {
   font-size: 4em;
}
h1, h2 {
  margin: 0 0 10px 0;
}

.page-wrap {
  width: 80%;
  margin: 0 auto;
  
  .main-story {
    width: 100%;
    position: relative;
    margin: 0 0 25px 0;
    .story-intro {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background: rgba(0, 0, 0, 0.75);
      padding: 20px;
      color: white;
      h1 {
        font-size: 2.5em; 
      }
      p {
        margin: 0;
      }
    }
  }
  .sub-stories {
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    .sub-story {
      float: left;
      width: 250px;
      margin-right: 25px;
      position: relative;
      font-size: 80%;
    }  
  }
  .last {
    margin-right: 0;
  }  
}
